.custom{
    margin-left: 20px;
    margin-right: 20px;
}

.background-1{
    background-color: #20232a;
}


@media screen and (max-width: 991px) {
    .custom{
        margin: 0;
    }

    .navlink{
        display: block;
        border-top: 2px solid #101215;
    }

    .navlink:last-child{
        border-bottom: 2px solid #101215;
    }

    .navigation{
        border-bottom: 2px solid black;
    }
}
